<h1>Welcome to YugiohAPI</h1>
<%= render 'layouts/navbar' %>

<div id='formDiv'>
  <%= form_with(url: cards_path, method: :get, local: true) do %>
    <div>
      <%= label_tag :query, "Search Cards:" %>
      <%= text_field_tag :query, params[:query], placeholder: "Enter card name" %>
    </div>
    <div>
      <%= label_tag :card_type_id, "Filter by Card Type:" %>
      <%= select_tag :card_type_id, options_from_collection_for_select(CardType.all, :id, :name, params[:card_type_id]), include_blank: "All" %>
    </div>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<h2><%= @results.present? ? "Search Results:" : "First 200 Cards:" %></h2>

<%# conditional check if there is results from search and filter%>
<% if @results.empty? && params[:query].present? %>
  <p>No cards found for "<%= params[:query] %>". Please try a different search.</p>
<% else %>

<%# shows result of search and filter %>
<ul>
  <% if @results.present? %>
    <% @results.each do |card| %>
      <li class="links">
        <%= link_to "#{card.name}, Card ID: #{card.id}, Type: #{card.card_type&.name}", card_path(card) %>
      </li>
    <% end %>
  <% else %>
    <% @cards.each do |card| %>
      <li>
        <%= link_to card.name, card_path(card) %>
      </li>
    <% end %>
  <% end %>
</ul>
<% end %>

<%= paginate @results if @results.present? %>
<%= paginate @cards if @cards.present? %>
